<h1>Dan Warncke</h1>
<h4>(call me mad dawg)</h4>
<br />

<h1><a href="/contact">Get In Touch</a></h1>

<br />

<h1><a href="/portfolio">Work</a></h1>

<br />

<h2><a href="/love">Things I Love</a></h2>

<br />

<h2><a href="/hate">Things I Hate</a></h2>

<br />

<img src="#">