<h1>Freelance web design</h1>
<h2>Hi, I'm Mad Dawg</h2>
<br />

<h1><a href="/contact">Get In Touch</a></h1>

<br />

<h1><a href="/portfolio">Portfolio</a></h1>

<br />

<h2><a href="/love">Things I Love</a></h2>

<br />

<h2><a href="/hate">Things I Hate</a></h2>